<app-navigationbar></app-navigationbar>
<div class="container hompageholder">
    <div class="container cardmaster overflow-auto">
        <div class="row">
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mycard mx-auto" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">Group 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    

    <div class="card cardholder" *ngIf="clicked" >
        <div class="card-body">
        <h5 class="card-title">Create Group</h5>
        <form action="" [formGroup]="grp">
            <!-- <div class="form-group">
            <label for="GpName">Group Name</label>
            <input type="text" class="form-control" id="GpName" aria-describedby="emailHelp" placeholder="Enter group Name">
            </div> -->
            <div class="form-group">
            <label for="mem1">Member1</label>
            <input type="text" class="form-control" id="mem1" placeholder="mem1"formControlName="mem1">
            </div>
            <div class="form-group">
                <label for="mem1">Member2</label>
                <input type="text" class="form-control" id="mem1" placeholder="mem2"formControlName="mem2">
                </div>
                <div class="form-group">
                    <label for="mem1">Member3</label>
                    <input type="text" class="form-control" id="mem1" placeholder="mem3"formControlName="mem3">
                    </div>
                    <div class="form-group">
                        <label for="mem1">Member4</label>
                        <input type="text" class="form-control" id="mem1" placeholder="mem4"formControlName="mem4">
                        </div>
                        <div class="form-group">
                            <label for="mem1">Member5</label>
                            <input type="text" class="form-control" id="mem1" placeholder="mem5" formControlName="mem5">
                            </div>
            <button type="submit" class="btn btn-danger grpbutton" (click)="check()" >Cancel</button>
            <button type="submit" class="btn btn-primary grpbutton">Submit</button>
        </form>
        </div>
    </div>



    <div class="container-fluid fixed-bottom imgcontainer">
        <div class="row">
            <div class="col offset-10">
                <img class="mainicon" src="../../assets/image/add.png" alt="" srcset="" (click)="check()">
            </div>
        </div>
    </div>

</div>