<div class="container-fluid">
    <div class="cot">
        <div class="registercontainer">
            
            <div class="registerlist">
                <ul class="register">
                    <li [ngStyle]="{'background-color': register==false ? '#fabdb2' : ''}" (click)="Change(false)"><a href="#">SignUp</a></li>
                    <li [ngStyle]="{'background-color': register==true ? '#fabdb2' : ''}" (click)="Change(true)"><a href="#">Login</a></li>
                </ul>
            </div>

            <div class="formregister">
                <div class="send" *ngIf="register">
                    <form action="" [formGroup]="login">
                        <div class="usernamepair">
                            <label for="username" class="user">Username</label>
                            <input type="text" name="" id="username" placeholder="username" formControlName="emailId" >
                            <!-- <span 
                                *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.required">
                                User Name is not available
                            </span> -->
                        </div>
                        <div class="passwordpair">
                            <label for="password" class="pass">Password</label>
                            <input type="password" name="" id="password" placeholder="password" formControlName="password">
                        </div>
                        <div class="buttonsubmit">
                            <input type="submit" value="Login" class="submit" (click)="sendLogin()">
                        </div>
                    </form>
                </div>

                <div class="signup" *ngIf="!register">
                    <form action="" [formGroup]="signUp">
                        <div class="usernamepair">
                            <label for="username" class="user">Username</label>
                            <input type="text" name="" id="username" placeholder="username" formControlName="emailId">
                        </div>
                        <div class="passwordpair">
                            <label for="password" class="pass">Password</label>
                            <input type="password" name="" id="password" placeholder="password" formControlName="password">
                        </div>
                      
                        <div class="buttonsubmit">
                            <input type="submit" value="Signup" class="submit" (click)="sendSignup()">
                        </div>
                       
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>