<app-navigationbar></app-navigationbar>
<div class="container grpcontainer">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title headingName">Group Name</h5>
          <button type="button" class="btn btn-primary">
            Wallet <span class="badge badge-secondary">0</span>
          </button>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ram - 0</li>
                <li class="list-group-item">Shyam - 0</li>
                <li class="list-group-item">Ghanshyam - 0 </li>
                <li class="list-group-item">Rohan - 0</li>
                <li class="list-group-item">Mohan - 0</li>
              </ul>

              <input class="btn btn-primary mybtn1" type="button" value="Add Transaction">
              <input class="btn btn-warning mybtn2" type="button" value="Add Participant">
        </div>
      </div>
</div>
